body{
  display: block;
}
.custom_cdn_css {
display: block;
}
.slider__custom-1{
  display: block;
}

.slider__custom-2{
  display: block;
}

.custom_navBar{
  display: block
}
  
* {
    display: none;
}